mixin brand-slider()
  +b.SECTION.brand-slider
    .swiper-container.container
      +e.row.swiper-wrapper
        +e.item.swiper-slide
          +e.image-wrapper
            img(src="/images/logo-kornit-digital.png", alt="Kornit Digital's logo")

        +e.item.swiper-slide
          +e.image-wrapper
            img(src="/images/logo-champion.png", alt="Champion's logo")

        +e.item.swiper-slide
          +e.image-wrapper
            img(src="/images/logo-gildan.png", alt="Gildan's logo")

        +e.item.swiper-slide
          +e.image-wrapper
            img(src="/images/logo-hanes.png", alt="Hanes's logo")

        +e.item.swiper-slide
          +e.image-wrapper
            img(src="/images/logo-anvil.png", alt="Anvil's logo")

        +e.item.swiper-slide
          +e.image-wrapper
            img(src="/images/logo-american-apparel.png", alt="American Apparel's logo")
