// Font
$main-font: 'Mulish', Helvetica, Arial, sans-serif;
$second-font: 'Kanit', Helvetica, Arial, sans-serif;
$third-font: 'Volkhov', Helvetica, Arial, sans-serif;

// Size
$size-font: 20px;
$weight-font: 400;
$line-height: 1.4;
$mg-1: 20px;
$mg-2: 30px;
$mg-3: 40px;
$mg-4: 50px;
$mg-5: 80px;


// Colors
$color-light-dodger-blue: #4FADFE;
$color-dodger-blue: #268AFF;
$color-astral: #3975A6;
$color-matisse: #1A5C92;
$color-horizon: #6086A5;
$color-steel-blue: #508FC3;
$color-jordy-blue: #9BCBF4;
$color-regent-blue: #9CC0DD;
$color-jagged-ice: #BFDDE8;
$color-black-squeeze: #ECF2F8;
$color-black: #000000;
$color-heavy-metal: #272F24;
$color-mine-shaft: #353535;
$color-gray: #898989;
$color-dusty-gray: #999999;
$color-silver: #BFBFBF;
$color-silver-light: #C4C4C4;
$color-darken-silver: #d8b4b4;
$color-wild-sand: #F6F6F6;
$color-alabaster: #F9F9F9;
$color-white: #FFFFFF;
$color-athens-gray: #E6E9EC;
$color-mercury: #E1E1E1;
$color-mercury-light: #E8E8E8;
$color-aqua-haze: #E4EEF0;
$color-french-pass: #CBE7FD;
$color-jungle-mist: #B7D3D9;

$color-font: $color-mine-shaft;

// Animations
$anim: cubic-bezier(0.6, 0.2, 0.1, 1);
$anim-speed: 0.5s;

