extends ../components/layout/index

block variables
  - var pageClass = '';
  - var pageTitle = "Merch Connect - Privacy policy";
  - var pageDescription = ""
  - var pageName = "privacy-policy"

block content
  +b.SECTION.preview
    +e.background
    .container
      +b.title-block
        +e.H1.title Privacy policy

  +b.SECTION.content
    .container
      +e.wrap
        +e.text(data-simplebar)
          +b.typography
            p Welcome to Merchconnect’s Privacy Policy!
            p Merchconnect Studios. (“we”, “our”, “us”, or “Merchconnect”) respects the privacy of its users and is fully committed to protect their personal data and use it in accordance with data privacy laws. This Privacy Policy describes how we collect, use, and process any personal data that we collect from you—or you provide to us—in connection with your use of our website (www.merchconnect.com) or our mobile apps and our print-on-demand services (collectively, “Services”). By accessing or using our Services, you signify your understanding of the terms set out in this Privacy Policy.
            p We do not knowingly collect, maintain, disclose, or sell the personal information about users under the age of sixteen (16). If you are under the age of 16, please do not use our Services. If you are under the age of 16 and have used our Services, please contact us at the email address below so that we may delete your personal information.
            p If you use our Services only for your personal use, you are to be considered as the “User” and for the purpose of the General Data Protection Regulation (“GDPR”) and the UK General Data Protection Regulation (as defined by the UK Data Protection Act 2018 as amended by the Data Protection, Privacy and Electronic Communications (Amendments etc) (EU Exit) Regulations 2019), we are the data controller.
            p If you use our Services to execute orders and deliver products to third parties, you are to be considered as the “Merchant” and with regard to your contact details and the other data listed in Section 1 below, we are the data controller. Where we act on a Merchant’s behalf to fulfil an order with regard to the Merchant’s customer, we are a data processor: please see our Data Processing Terms.
            p Note that while our Services may contain links to other websites or services, we are not responsible for each respective website’s or service’s privacy practices and encourage you to be aware of this when you leave our Services and carefully read the privacy statements of each and every website and service you visit. This Privacy Policy does not apply to third-party websites and services. If you wish to contact Merchconnect regarding your personal data or this Privacy Policy, please contact us at orders@merchconnect.com.

            h2 1. Information we collect
            p
              b Information collected about Users and Merchants and how we use it
            p Where you are a User and it is necessary to fulfil our contract with you for the purposes of providing, maintaining, or improving our products and Services (including, to the extent permitted by applicable law, any matters in our legitimate interests with respect to the Services), we will conﬁrm your identity, contact you, provide customer support (including via chat, in the comment section of our blog, or other platforms, where you may reach us), operate your account with us and invoice you. For the aforementioned purposes, we collect information that may contain the following personal data:

            ul
              li Name;
              li Company name;
              li Shipping information;
              li Email address and phone number;
              li Payment and billing information (payment method details, first and last digits of your payment card);
              li Order handling information

            p If you have given your consent when registering your account, when subscribing to our newsletter or blog, or shared your email address or other personal data with us to receive any other information (for example, our list of sub-processors), we will process your email address to send you the informative and/or promotional materials, to which you have subscribed to, for example, newsletters, advertisements of our Services and other information about our Services that you have requested. At any point in time you can unsubscribe from receiving the above-mentioned information in our email footers and through your notiﬁcation settings on Merchconnect. For Merchants, we will not use the contact details of your customers to directly market or advertise our Services to them.
            p We obtain location information you provide in your profile or your IP address. We use and store information about your location to provide features and to improve and customise the Services, for example, for Merchconnect’s internal analytics and performance monitoring; localisation, regional requirements, and policies for the Services; for local content, search results, and recommendations; for delivery and mapping services; and (using non-precise location information) marketing.
            p When you call our customer support phone line, we may monitor or record the call to ensure the quality of our customer support. If you have a Merchconnect account, we will retain the recording for as long as you have an account. If you do not have an account, we will delete the recording within 12 months or retain it, if it will be needed to resolve disputes between you and us.
            p By using cookies and similar technology on our website, we may collect data such as information on your device, your preferences and information filled while visiting our website, your interaction with the website, and other information used for analytical, marketing, and targeting activities (including unique visits, returning visits, length of the session, actions carried out in the webpage).
            p As it is in our legitimate interests to ensure our network security, give you access to and to improve our Services, we also collect the following technical usage data:

            ul
              li How and when you access our website;
              li Information about the device and browser you use;
              li IP address and device data.

            p
              b Information collected about our Merchant’s Customers
            p Where we act on a Merchant’s behalf to fulfil an order with regard to the Merchant’s customer (i.e. an end user of our Services), we are a data processor and we collect information relating to the Merchant’s customer, such as personal data relating to the end user of our Services, any personal data in the printing content (where applicable), personal data revealed during the use of any Merchconnect services, including name, email address, phone number, shipping address, and other information about the Merchant's customers.
            p If you are a customer of the Merchant (an end user of our Services), the Merchant is the data controller with regard to your personal data and should provide you the information on how your personal data is collected and processed when using our Services. Please read the Merchant’s privacy policy for further information. The Merchant is your contact for any questions you have about how it handles your personal data.

            h2 2. Sharing personal data with third parties

            p In order for Mercconnect to provide you with our Services, we work with third parties who perform services on
            p our behalf and with whom we share personal data to support our Services (“Service Providers”).
            p Information you have provided to us during the use of our Services, including technical usage data, is shared for business purposes in our legitimate interests with third parties who provide hosting and server co-location services as well as data and cyber security services.
            p Information you have provided to us during the use of our Services may be shared with third-party manufacturing services whom we engage to provide our Services to you.
            p Your email address and other contact details you have provided to us and your messages to our customer service is shared for business purposes in our legitimate interests with communication, email distribution, and content delivery services as well as customer support system providers.
            p Information regarding your purchases and payments is shared with billing and payment processing services, fraud detection and prevention services, accounting and ﬁnancial advisors, advisors, so that we can provide our Services
            p to you.
            p Information regarding your use of our website and other information received from cookies and similar technology is shared with web analytics, session recording, and online marketing services.
            p If we provide marketing to you, information on your account, purchases and preferences can be shared with marketing services.
            p Insofar as reasonably necessary to defend our legal rights, we may share your personal data with our legal advisors.
            p We will only share personal data to Service Providers that have undertaken to comply with obligations set out in applicable data protection laws.
            p We may share your personal data with our affiliates (companies within our corporate family), in our
            p legitimate interests for business purposes.
            p In certain circumstances, we are required to share information with third parties to comply with legal requirements or requests, as well as to protect our, or a third party’s, lawful interests. We will also disclose your information to third parties in and outside your country only to the extent allowed by applicable law, including:

            ul
              li to a prospective purchaser or purchaser that acquires all or substantially all of us or our business;
              li to a third party in the event that we sell or buy any business or undergo a merger, in which case we may disclose your information to the prospective buyer of such business; and
              li to a third party if we sell, buy, merge or partner with other companies or businesses, undergo a reorganisation, bankruptcy, or liquidation; or otherwise undertake a business transaction or sell some or all of our assets. In such transactions, your information may be among the transferred assets.2. Sharing personal data with third parties

            h2 3. Retention periods
            p We may retain your personal data for as long as you have a Merchconnect account or any of the abovementioned legal bases for personal data processing still exists. For example, if you unsubscribe from our marketing, newsletter, or blog emails, we will stop the processing of the personal data for such purposes. If you have used our Services without creating a Merchconnect account, we will keep your personal data as long as necessary to comply with our legal obligation to retain information relating to provision of services, for example, for tax purposes.
            p After terminating your relationship with us by deleting your Merchconnect account or otherwise ceasing to use our Services, we may continue to store copies of your (and in regard to Merchants, your customers' personal data) as necessary to comply with our legal obligations, to resolve disputes between you and us (or you and your customers), to prevent fraud and abuse, to enforce our agreements, and/or to protect our legitimate interests (to the extent that we are permitted by the applicable law to continue to store copies to protect our legitimate interests).

            h2 4. Data subject's rights
            p If you are a User or Merchant located in the European Economic Area or the United Kingdom, in accordance with European Union and United Kingdom data protection regulations, you have certain rights with respect to your personal data. You have the right to request access to your personal data; in certain circumstances to correct, amend, delete, or restrict the use of your personal data by logging into your Merchconnect account or by reaching us using the contact information provided below. In addition, you can object to the processing of your personal data in some circumstances (in particular, where we are not required to process your data to meet a contractual or other legal requirement). These rights may be limited, for example, if fulfilling your request would reveal personal data about another person, or if you ask us to delete information which we are required by law to retain, are permitted by law to retain, or have compelling legitimate interests in retaining (to the extent that applicable law permits us to retain such information based on our legitimate interests).
            p Furthermore, if you believe that we have unlawfully processed your personal data, you have the right to submit a complaint to the contact information provided below, or to your respective data protection supervisory authority. If you are a customer of a Merchant (an end user of our Services), please direct your concern to the relevant Merchant in the first instance.

            h2 5. Information security
            p We seek to use reasonable organizational, technical, and administrative measures to protect the conﬁdentiality, integrity, and availability of personal data. We encourage you to take care of the personal data in your possession that you process online and set strong passwords for your Merchconnect account, limit access to your computer and browser by signing out after you have ﬁnished your session, and avoid providing us with any sensitive information.

            h2 6. International transfers of data
            p All the information you provide may be accessed by our parent company in the United States and our Service Providers (as described above) for the provision of our Services as described in this Privacy Policy. When we transfer your information globally, we take necessary measures to ensure appropriate protection of your information, including, as applicable, entering into the European Commission’s Model clauses for the transfer of personal data to third countries (i.e., the standard contractual clauses) and any equivalent clauses issued by the relevant competent authority of the UK.

            h2 7. Privacy Policy changes
            p Any changes we make to this Privacy Policy in the future will be posted on this page. Therefore, we encourage you to check this page frequently from time to time.

            h2 8. Contact information
            p If you have any questions about your personal data or this Privacy Policy, or if you would like to ﬁle a complaint about how we process your personal data, please contact us by email at orders@merchconnect.com, or by using the contact details below:
            p Merchconnect LTD.
            p 1724 Holbrook St Greensboro,
            p NC 27403

            h3 The version of this Policy is effective Fubruary 1, 2022.

          +e.scroll-bar
            span(style="top: 0%")


        +e.navigation
          +e.P.header Contents
          +e.nav-list
          +e.P.header Other relevant Policies
          +e.A.sub-text(href="/terms-and-conditions") Terms & Conditions
